@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<h1>
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box" style="padding: 20px;">
                    <h4 style="font-size: 24px;">Ürün Güncelleme Sayfası</h4>
                    <div class="bs-example" data-example-id="bordered-table" style="margin-top: 20px;">
                        <form method="post">
                            <input type="hidden" asp-for="ProductId"/>
                            <div style="margin-bottom: 20px;">
                                <label style="font-size: 18px;">Ürün Adı</label>
                                <input type="text" class="form-control" asp-for="ProductName" style="font-size: 18px;" />
                            </div>
                            <div style="margin-bottom: 20px;">
                                <label style="font-size: 18px;">Ürün Fiyatı</label>
                                <input type="text" class="form-control" asp-for="ProductPrice" style="font-size: 18px;" />
                            </div>
                            <div style="margin-bottom: 20px;">
                                <label style="font-size: 18px;">Ürün Görseli</label>
                                <input type="text" class="form-control" asp-for="ProductImageUrl" style="font-size: 18px;" />
                            </div>
                            <div style="margin-bottom: 20px;">
                                <label style="font-size: 18px;">Ürün Kategorisi</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })
                                <br />
                            </div>
                            <div style="margin-bottom: 20px;">
                                <label style="font-size: 18px;">Ürün Açıklaması</label>
                                <textarea class="form-control" asp-for="ProductDescription" rows="5" style="font-size: 18px;"></textarea>
                            </div>
                            <button class="btn btn-primary" style="font-size: 18px;">Ürünü Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</h1>

